body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #eaeefe;
}
h1 {
    font-size: 60px;
    display: flex;
    height: 15vh;
    background-color: #1959c0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: #1959c0;
    border-radius: 100px;
}
.container {
    display: flex;
    gap: 15px;
    justify-content: center;
    
}
.btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    color: white;
    background-color: #1959c0;
    font-weight: bold;
    border-radius: 5px;
    border-color: #1959c0;
    transition: 0.3s;
}

.btn:hover {
    background-color: purple;
    border-color: purple;
}
.optional {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.hidden.show {
    opacity: 1;
    visibility: visible;
}

#tab {
    display: grid;
    gap: 2px;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}
.btnTab{
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
    

}
