body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #161c36;
    font-family: Calibri;
}
h1 {
    font-size: 60px;
    display: flex;
    height: 15vh;
    background-color: #1959c0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: #1959c0;
    border-radius: 100px;
}
.containerForMainButton {
    display: flex;
    gap: 15px;
    justify-content: center;
    
}
.btnMain {
    font-family: Calibri;
    display: inline-block;
    padding: 12px 20px;
    font-size: 20px;
    color: white;
    background-color: #1959c0;
    border-radius: 5px;
    border-color: #1959c0;
    transition: 0.3s;
}

.btnMain:hover {
    background-color: purple;
    border-color: purple;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.hidden.show {
    opacity: 1;
    visibility: visible;
}

#tabForStar {
    display: grid;
    gap: 2px;
    margin-top: 15px;
    align-content: center;
    justify-content: center;
}
.btnTabForStar{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    background-color: lightgray;
    transition: background-color 0.3s ease-in-out;
}

.hiddenTable{
    display: none;
}

#staticInputStar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.clickedForStar{
    background-color: red;
}
#starInput {
    text-align: center;
}
#createWayForStar{
    margin-top: 15px;
    font-family: Calibri;
    font-size: 15px;
    background-color: #1959c0;
}
#createButForStar{
    font-family: Calibri;
    font-size: 15px;
    margin-left: 10px;
    background-color: #1959c0;
}
