body {
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(to right, #161c36, #1a237e);
    font-family: Calibri;
}

#textStarsWithTable{
    font-size: 25px;
    text-shadow: 0 0 10px #8421ff, 0 0 20px #8421ff;
    animation: neonText 1s infinite alternate;
}

@keyframes neonText {
    0% {text-shadow: 0 0 5px #8421ff, 0 0 10px #8421ff;}
    50% {text-shadow: 0 0 15px #8421ff, 0 0 30px #8421ff;}
    100% {text-shadow: 0 0 5px #8421ff, 0 0 10px #8421ff;}
}


#tabForStar {
    display: grid;
    gap: 2px;
    margin-top: 15px;
    align-content: center;
    justify-content: center;
    box-shadow:
            0 0 10px rgba(132, 33, 255, 0.4),
            0 0 20px rgba(132, 33, 255, 0.3),
            0 0 40px rgba(132, 33, 255, 0.2);
    border-radius: 12px;
    padding: 10px;
    transition: box-shadow 0.5s ease-in-out;
}

.btnTabForStar{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #a881b1;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btnTabForStar:hover {
    outline: 2px solid #8d1bcf;
    z-index: 1;
}

.wayPoint{
    background-color: rgb(42, 104, 69) !important;
}

.hiddenTable{
    display: none;
}

#staticInputStar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.clickedRed{
    background-color: red;
}

.clickedPurple{
    background-color: purple;
}

.checking {
    background-color: rgba(0, 255, 255, 0.5);
}

#starInput {
    text-align: center;
}

.btnSecondary {
    font-family: Calibri;
    font-size: 23px;
    margin-left: 10px;
    background-color: #1959c0;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #1959c0;
    transition: 0.3s;
    box-shadow: 0 0 10px #8421ff;
    position: relative;
    overflow: hidden;
}

.btnSecondary:hover {
    transform: scale(1.1);
    background-color: #5b0bb1;
    border-color: #5b0bb1;

}

.btnSecondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: left 0.4s ease-in-out;
    pointer-events: none;
}

.btnSecondary:hover::before {
    left: 100%;
}


#sizeTableForStar {
    width: 120px;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    border: 2px solid #1959c0;
    border-radius: 18px;
    text-align: center;
    background-color: #161c36;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #8421ff;
}

#sizeTableForStar:focus {
    border-color: purple;
    box-shadow: 0 0 10px #8421ff;
}

#sizeTableForStar::placeholder {
    color: white;
    font-size: 17px;
}

#sizeTableForStar:hover {
    transform: scale(1.1);
    background-color: #8421ff;
    border-color: #8421ff;
}

#sizeTableForStar::-webkit-outer-spin-button,
#sizeTableForStar::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.customAlertBox {
    background-color: #1959c0;
    padding: 30px;
    border-radius: 20px;
    border: 4px solid #8421ff;
    box-shadow: 0 0 30px #8421ff;
    font-family: Calibri;
    font-size: 20px;
    text-align: center;
}

.customAlertBox button {
    font-family: Calibri;
    margin-top: 20px;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #8421ff;
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.customAlertBox button:hover {
    background-color: #5a17b1;
}

.hidden{
    display: none;
}